extends layouts/_layout.pug

block variables
	- var activePage = 'basic-table'
	- var activeGroup = 'tables'

block title
	title News list

block content
	.app-title
		div
			h1
				i.fa.fa-th-list
				|  News list
			p News published on the website
	.row
		.col-md-12
			.tile
				.table-responsive
					table.table
						thead
							tr
								th 
									input#checkall(type='checkbox')
								//- th #
								th News title
								th Author
								th Post date
								th Post update date
								th
						each news, index in newsList
							tbody
								tr
									td 
										input.checkthis(type='checkbox')
											//- <?php $i = 1 + $countries->getCurrentPage() * $countries->getPerPage() - $countries->getPerPage(); ?> and kept {{ $i }}
									//- - newsCounter= index + currentPage * pagingCounter - pagingCounter		
									//- td= newsCounter
									td= news.title
									td= news.author.name
									td= news.created_on.toLocaleDateString()
									td= news.updated_on.toLocaleDateString()
									td
										a.button.btn.btn-primary.btn-sm.mr-1(href='/admin/news/edit/' + news._id) Edit
										button.btn.btn-danger.btn-sm(type='button' data-toggle='modal' data-target='#deleteNews') Delete
										#deleteNews.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteNewsTitle' aria-hidden='true' )
											.modal-dialog.modal-dialog-centered(role='document')
												.modal-content
													.modal-header
														h5.modal-title Delete news
														button.close(type='button', data-dismiss='modal', aria-label='Close')
															span(aria-hidden='true') ×
													.modal-body
														p Are you sure you want to delete the news? This action will completely remove it from the database. 
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Close
														form.d-inline(action='/admin/news/'+ news._id + '?_method=DELETE' method='POST')
															button.btn.btn-danger(type='submit') Delete
					nav(aria-label='News page navigation')
						ul.pagination.justify-content-center
							if hasPrevPage
								li.page-item
									a.page-link(href=`/admin/news/?page=${currentPage - 1}`) Previous
							else
								li.page-item.disabled
									a.page-link(href='#' tabindex='-1' aria-disabled='true') Previous
							//Previous page logic
							li.page-item
								- pageCounterBeforeCurrentPage= 0
								while pageCounterBeforeCurrentPage < currentPage - 1
									- pageCounterBeforeCurrentPage= pageCounterBeforeCurrentPage + 1
										li.page-item
											a.page-link(href=`/admin/news/?page=${pageCounterBeforeCurrentPage}`)= pageCounterBeforeCurrentPage
							//Current page logic
							li.page-item.active
								a.page-link(href='#')= currentPage
								- pageCounterAfterCurrentPage= currentPage
								while pageCounterAfterCurrentPage < totalPages
									- pageCounterAfterCurrentPage= pageCounterAfterCurrentPage + 1
										li.page-item
											a.page-link(href=`/admin/news/?page=${pageCounterAfterCurrentPage}`)= pageCounterAfterCurrentPage
							if hasNextPage
								li.page-item
									a.page-link(href=`/admin/news/?page=${currentPage + 1}`) Next
							else
								li.page-item.disabled
									a.page-link(href='#' tabindex='-1' aria-disabled='true') Next
