html
    head
        link(href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' rel='stylesheet')
        link(href='/dist/fontawesome/fontawesome.css' rel='stylesheet')
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
        link(href='/dist/css/bootstrap.min.css' rel='stylesheet')
        link(href='/assets/styles/login.css' rel='stylesheet')
        link(rel='stylesheet' href='/assets/styles/edit_user_profile.css')
        link(rel='stylesheet' href='/assets/styles/avatar_wrapper.css')
        script(src='/dist/jquery/jquery.slim.min.js')
        script(src='/dist/js/bootstrap.bundle.min.js')
        title Edit #{user.username} profile
    body
        .container.rounded.bg-white.mt-5.mb-5
            form(method='POST' action='/users/edit/' + user.id)
                .row
                    .col-md-3.border-right
                        .d-flex.flex-column.align-items-center.text-center.p-3.py-5
                            input(type='file', name='avatar')
                            input(type='submit', name='uploadimage', value='Upload Image')
                            span.font-weight-bold #{user.username}
                            span.text-black-50 amelly12@bbb.com
                            span          
                    .col-md-5.border-right
                        .p-3.py-5
                            .d-flex.justify-content-between.align-items-center.mb-3
                                h4.text-right Profile Settings
                            .row.mt-2
                                .col-md-6
                                    label.labels Name
                                    input.form-control(name='name', type='text', value=user.name)
                                .col-md-6
                                    label.labels Surname
                                    input.form-control(type='text' value='' placeholder='surname')
                            .row.mt-3
                                .col-md-12
                                    label.labels Facebook
                                    input.form-control(name='facebook' type='text' placeholder='Enter a link to your facebook page' value=user.facebook)
                                .col-md-12
                                    label.labels Instagram
                                    input.form-control(name='instagram' type='text' placeholder='Enter a link to your instagram page' value=user.instagram)
                                .col-md-12
                                    label.labels Twitter
                                    input.form-control(name='twitter' type='text' placeholder='Enter a link to your twitter page' value=user.twitter)
                                .col-md-12
                                    label.labels Reddit
                                    input.form-control(name='reddit' type='text' placeholder='Enter a link to your reddit profile' value=user.reddit)
                                .col-md-12
                                    label.labels Github
                                    input.form-control(name='github' type='text' placeholder='Enter a link to your github page' value=user.github)    
                            .row.mt-3
                                .col-md-6
                                    label.labels Country
                                    input.form-control(type='text' placeholder='country' value='')
                                .col-md-6
                                    label.labels State/Region
                                    input.form-control(type='text' value='' placeholder='state')
                            .mt-5.text-center
                                button.btn.btn-primary.profile-button(type='submit' value='Submit') Save Profile
                    .col-md-4
                        .p-3.py-5
                            .d-flex.justify-content-between.align-items-center.experience
                                span Edit Experience
                            br
                            .col-md-12
                                label.labels About you 
                                input.textarea#exampleFormControlTextarea1.form-control(rows='3' name='about' type='text' placeholder='Info about you' value=user.about)
