if breaking
  div.jumbotron.p-4.p-md-5.text-white.rounded(style=`background-image: url(${breaking.previewImage}); background-size: 100% 100%;`)
    .col-md-6.mt-5
      a.h1.display-4.text-white.bg-dark.font-italic(href=`/news/${breaking.slug}`)= breaking.title
if mostViewedNews
  div.row.mb-2
    each hotNews in mostViewedNews
      .col-md-6
        .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
          .col.p-4.d-flex.flex-column.position-static
            strong.d-inline-block.mb-2.text-primary= hotNews.category.title
            h3.mb-0= hotNews.title
            .mb-1.text-muted= hotNews.created_on.toLocaleDateString()
            a.stretched-link(href=`/news/${hotNews.slug}`) Continue reading
          .col-auto.d-none.d-lg-block
            img(width='200', height='250', src=hotNews.previewImage)



//.jumbotron.p-4.p-md-5.text-white.rounded(style=`background-image: url(${breaking.previewImage || null}); background-size: 100% 100%;`)
//  .col-md-6.mt-5
//    h1.display-4.font-italic= breaking.title || null
//.row.mb-2
//  .col-md-6
//    .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
//      .col.p-4.d-flex.flex-column.position-static
//        strong.d-inline-block.mb-2.text-primary World
//        h3.mb-0 Featured post
//        .mb-1.text-muted Nov 12
//        p.card-text.mb-auto
//          | This is a wider card with supporting text below as a natural lead-in to additional content.
//        a.stretched-link(href='#') Continue reading
//      .col-auto.d-none.d-lg-block
//        svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveAspectRatio='xMidYMid slice' focusable='false')
//          title Placeholder
//          rect(width='100%' height='100%' fill='#55595c')
//          text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
//  .col-md-6
//    .row.no-gutters.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
//      .col.p-4.d-flex.flex-column.position-static
//        strong.d-inline-block.mb-2.text-success Design
//        h3.mb-0 Post title
//        .mb-1.text-muted Nov 11
//        p.mb-auto
//          | This is a wider card with supporting text below as a natural lead-in to additional content.
//        a.stretched-link(href='#') Continue reading
//      .col-auto.d-none.d-lg-block
//        svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveAspectRatio='xMidYMid slice' focusable='false')
//          title Placeholder
//          rect(width='100%' height='100%' fill='#55595c')
//          text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail