html
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet' href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css' integrity='sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX' crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
    link(rel='stylesgeet' href='https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css')
    link(href='/dist/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='/assets/styles/user_profile.css')
    title Blog about nothing and everything | profile
  body.profile-page
    .page-header.header-filter(data-parallax='true' style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');")
    .main.main-raised
      .profile-content
        .container
          .row
            .col-md-6.ml-auto.mr-auto
              .profile
                .avatar
                  img.img-raised.rounded-circle.img-fluid(src='/uploads/' + user.avatar, alt='Circle Image' )
                .name
                  h3.title #{user.name} 
                    a.btn.btn-just-icon.btn-link.btn-pencil(href='/users/edit/' + user.id)
                      i.fa.fa-pencil.fa-fw
                  h6 Designer
                  // facebook block
                  if user.facebook
                    a.btn.btn-just-icon.btn-link.btn-facebook(href=user.facebook)
                      i.fa.fa-facebook
                  else 
                    
                  // instagram block
                  if user.instagram    
                    a.btn.btn-just-icon.btn-link.btn-instagram(href=user.instagram)
                      i.fa.fa-instagram
                  else 

                  // twitter block  
                  if user.twitter
                    a.btn.btn-just-icon.btn-link.btn-twitter(href=user.twitter)
                      i.fa.fa-twitter
                  else 
                    
                  // reddit block   
                  if user.reddit
                    a.btn.btn-just-icon.btn-link.btn-reddit(href=user.reddit)
                      i.fa.fa-reddit
                  else 
                    
                  // github block          
                  if user.github  
                    a.btn.btn-just-icon.btn-link.btn-github(href=user.github)
                      i.fa.fa-github 
                  else 

          .description.text-center
            p= user.about
          .row
            .col-md-6.ml-auto.mr-auto
              .profile-tabs
                ul.nav.nav-pills.nav-pills-icons.justify-content-center(role='tablist')
                  li.nav-item
                    a.nav-link.active(href='#studio' role='tab' data-toggle='tab')
                      i.material-icons camera
                      |                                   Studio
                  li.nav-item
                    a.nav-link(href='#works' role='tab' data-toggle='tab')
                      i.material-icons palette
                      |                                     Work
                  li.nav-item
                    a.nav-link(href='#favorite' role='tab' data-toggle='tab')
                      i.material-icons favorite
                      |                                     Favorite
          .tab-content.tab-space
            #studio.tab-pane.active.text-center.gallery
              .row
                .col-md-3.ml-auto
                  img.rounded(src='https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1528249227670-9ba48616014f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66b8e7db17b83084f16fdeadfc93b95b&auto=format&fit=crop&w=357&q=80')
                .col-md-3.mr-auto
                  img.rounded(src='https://images.unsplash.com/photo-1521341057461-6eb5f40b07ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=72da2f550f8cbd0ec252ad6fb89c96b2&auto=format&fit=crop&w=334&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80')
            #works.tab-pane.text-center.gallery
              .row
                .col-md-3.ml-auto
                  img.rounded(src='https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80')
                .col-md-3.mr-auto
                  img.rounded(src='https://images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80')
            #favorite.tab-pane.text-center.gallery
              .row
                .col-md-3.ml-auto
                  img.rounded(src='https://images.unsplash.com/photo-1504346466600-714572c4b726?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6754ded479383b7e3144de310fa88277&auto=format&fit=crop&w=750&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1494028698538-2cd52a400b17?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83bf0e71786922a80c420c17b664a1f5&auto=format&fit=crop&w=334&q=80')
                .col-md-3.mr-auto
                  img.rounded(src='https://images.unsplash.com/photo-1505784045224-1247b2b29cf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec2bdc92a9687b6af5089b335691830e&auto=format&fit=crop&w=750&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1524498250077-390f9e378fc0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=83079913579babb9d2c94a5941b2e69d&auto=format&fit=crop&w=751&q=80')
                  img.rounded(src='https://images.unsplash.com/photo-1506667527953-22eca67dd919?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6326214b7ce18d74dde5e88db4a12dd5&auto=format&fit=crop&w=750&q=80')
    footer.footer.text-center
      p
        | Made with 
        a(href='https://demos.creative-tim.com/material-kit/index.html' target='_blank') Material Kit
        |  by Creative Tim
    script(src='/dist/jquery/jquery.min.js')
    script(src='/dist/umd/popper.min.js')
    script(src='/dist/js/bootstrap.min.js')

    //- script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    //- script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    //- script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js' integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U' crossorigin='anonymous')
    //- script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js' integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9' crossorigin='anonymous')
