extends ../layout

block content 
  .row
    .col-md-8.news-block
      h3.pb-4.mb-4.font-italic.border-bottom
        | Personal blog
      each article, i in articles
        .blog-post
          #article-meta= article.created_on.toLocaleDateString()
          a(class='blog-post-title' href=`/articles/${article.slug}`)= article.title
    include ../sidebar
  //Navigation block
  nav(aria-label='Articles navigation')
  if pages > 1
    ul.pagination.justify-content-center
      if currentPage == 1
        li.page-item.disabled
          a.page-link First
      else
        li.page-item
          a.page-link(href=`/articles/?page=1`) First
      if prevPage
        li.page-item
          a.page-link(href=`/articles/?page=${currentPage - 1}`) «
      else
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') «
      // Cutting off the left numbers
      - paginationNumber = currentPage > 5 ? currentPage - 4 : 1
      if paginationNumber !== 1
        li.page-item.disabled
          a.page-link ...
      //Current page logic
      while paginationNumber <= currentPage + 4 && paginationNumber <= pages
        if paginationNumber == currentPage
          li.page-item.active
            a.page-link(href=`/articles/?page=${paginationNumber}`)= paginationNumber
        else
          li.page-item
            a.page-link(href=`/articles/?page=${paginationNumber}`)= paginationNumber
        // Cutting off the right numbers
        if (paginationNumber == currentPage + 4 && paginationNumber < pages)
          li.page-item.disabled
            a.page-link ...
        - paginationNumber++
      // Next page button logic
      if nextPage
        li.page-item
          a.page-link(href=`/articles/?page=${currentPage + 1}`) »
      else
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') »
      if currentPage == pages
        li.page-item.disabled
          a.page-link Last
      else
        li.page-item
          a.page-link(href=`/articles/?page=${pages}`) Last