block content  
  section.mb-5
    .card.bg-light
      .card-body
        if user
          form.mb-4(method='POST', action=`/articles/${article._id}/comments/send`)
            textarea.form-control(rows='3' name='commentText' type='comments' placeholder='Join the discussion and leave a comment!')
            br
            input.btn-small.btn-primary.float-right(type='submit', value='Send')
            br
        else
          p Please login to join discussion
        // Comments with nested block
        each comment, index_comment in article.comments
          .d-flex.mb-4
            .flex-shrink-0
              if !comment.author.avatar
                img.rounded-circle(src= '/assets/no-avatar.png', width='75', height='75')
              else
                img.rounded-circle(src= comment.author.avatar, width='75', height='75')
            .ms-3
              span.fw-bold.mr-2= comment.author.username
              span.small.text-muted= comment.created_on.toLocaleDateString()
              p= comment.commentText
                // Comments buttons
                .inner
                  p.parent-comment-reply
                    if user
                      a.comment-btn.mr-2(type='button', data-toggle='collapse', data-target=`#response_${index_comment}`, aria-expanded='false', aria-controls='response')
                        | Reply
                    if user
                      if user.id === comment.author.id || user.role === 'admin' || user.role === 'moderator'
                        a.comment-btn.mr-2(type='button', data-toggle='modal', data-target=`#editComment_${comment._id}`)
                          | Edit
                        a.comment-btn.mr-2(type='button', data-toggle='modal', data-target=`#deleteComment_${comment._id}`)
                          | Delete
                    .collapse(id=`response_${index_comment}`)
                      form.mb-4(method='POST' name='parentCommentId' action=`/articles/${article._id}/comments/send`)
                        textarea.form-control(rows='3' cols='150' name='commentText' type='reply' placeholder='Join the discussion and leave a comment!')
                        input.btn-small.btn-primary.float-right(type='submit' value='Send')

                // Edit comment modal
                div.modal.fade(id=`editComment_${comment._id}`, tabindex='-1', role='dialog', aria-labelledby=`label_${comment._id}`, aria-hidden='true')
                  .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                      .modal-header
                        h5.modal-title Edit comment
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        form.mb-4(method='POST', action=`/articles/${article._id}/comments/${comment._id}/edit?_method=PUT`)
                          textarea.form-control(name='commentText' rows='3' cols='150')= comment.commentText
                          input.btn-small.btn-primary.float-right(type='submit' value='Send')
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                // Delete comment modal
                div.modal.fade(id=`deleteComment_${comment._id}`, tabindex='-1', role='dialog', aria-labelledby=`label_${comment._id}`, aria-hidden='true')
                  .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                      .modal-header
                        h5.modal-title Delete Comment
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                      .modal-body
                        | Are you sure you want to delete the comment? This action will completely remove it from the database.
                      .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                        form.d-inline(action=`/articles/${article._id}/comments/${comment._id}?_method=DELETE`, method='POST')
                          button.btn.btn-danger(type='submit') Delete
  // Navigation block
  nav(aria-label='Comments navigation')
  if pages > 1
    ul.pagination.justify-content-center
      if currentPage == 1
        li.page-item.disabled
          a.page-link First
      else
        li.page-item
          a.page-link(href=`/news/${news.slug}/?page=1`) First
      if prevPage
        li.page-item
          a.page-link(href=`/news/${news.slug}/?page=${currentPage - 1}`) «
      else
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') «
      // Cutting off the left numbers
      - paginationNumber = currentPage > 5 ? currentPage - 4 : 1
      if paginationNumber !== 1
        li.page-item.disabled
          a.page-link ...
      //Current page logic
      while paginationNumber <= currentPage + 4 && paginationNumber <= pages
        if paginationNumber == currentPage
          li.page-item.active
            a.page-link(href=`/news/${news.slug}/?page=${paginationNumber}`)= paginationNumber
        else
          li.page-item
            a.page-link(href=`/news/${news.slug}/?page=${paginationNumber}`)= paginationNumber
        // Cutting off the right numbers
        if (paginationNumber == currentPage + 4 && paginationNumber < pages)
          li.page-item.disabled
            a.page-link ...
        - paginationNumber++
      // Next page button logic
      if nextPage
        li.page-item
          a.page-link(href=`/news/${news.slug}/?page=${currentPage + 1}`) »
      else
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1' aria-disabled='true') »
      if currentPage == pages
        li.page-item.disabled
          a.page-link Last
      else
        li.page-item
          a.page-link(href=`/news/${news.slug}/?page=${pages}`) Last